mat-card {
  width: 15%;
  float: left;
  margin: 10px;
  text-align: center;
  align-items: center;
  height: 200px;
  button{
    margin-top: 20px;
  }
}
mat-card-actions {
    display: flex;
    gap: 10px;
}