@if (cartLength === 0) {
  <p class="cart-empty">Koszyk jest pusty.</p>
} @else {
  <div class="cart">
  @for (item of cartItems(); track item.id) {
    @let product = products()?.find(p => p.id === item.id);
    @let unitPrice = product?.price ?? 0;

    <mat-card class="cart-item" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ product?.name }}</mat-card-title>
        <mat-card-subtitle>Cena: {{ unitPrice }} PLN</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="cart-item__content">
        <span>Ilość: <strong>{{ item.pieces }}</strong></span>
        <span>Suma: <strong>{{ unitPrice * item.pieces }} PLN</strong></span>
      </mat-card-content>

      <mat-card-actions>
        <button matButton="filled" (click)="removeItemFromCart(item)">Usuń</button>
      </mat-card-actions>
    </mat-card>
  }
    <p class="cart-total">Razem: {{ getCartTotal() }} zł</p>
    <button matButton="filled"  [routerLink]="['/summary']" type="button">Przejdź do podsumowania</button>
</div>
    

}

